

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{
   background-image: url('background.jpg');
   background-size: cover;
   background-position: center;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;

   
}
h2, input, label, p, a,span {
    color: white;
    font-weight: 1000;

    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.container{
    height: 550px;
    width: 450px;
    border: 2px solid rgba(255,255,255,4);
    border-radius: 10px;
    background: rgba(0,0,0,.2);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 5px rgba(0,0,0,.2),
    0 0 15px rgba(0,0,0,.2),
    0 0 30px rgba(0,0,0,.2);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    
}

.form-box{
    display:flex;

}
.form-box .LoginForm{
    position: absolute;
    transform: translateX(0px) rotate(0deg);
    transition: .5s ease;
    transition-delay: .4s;

}

.form-box .LoginForm.active{
   
    transform: translateX(-450px) rotate(-45deg);
    transition-delay: .4s
}
.form-box .RegisterForm{
   
    transform: translateX(450px) rotate(45deg);
    transition: .5s ease;
    transition-delay: .4s
}

.form-box .RegisterForm.active{
    transform: translateX(0px) rotate(0deg);
    transition-delay: .4s
}

.container .form-box h2{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 1px;
}
.form-box .input-box {
     margin: 35px 0;
     width: 330px;
     border-bottom: 2px solid rgb(255, 255, 255,.4);
     position: relative;
     letter-spacing: 1px;
     font-size: 22px;

}
.form-box .input-box input{
    background: transparent;
    border: none;
    outline:none;
    width: 100%;
    height: 50px;
    padding: 0 35px 0 5px;
    font-size: 21px;

}

.form-box .input-box label{
    font-weight:400 ;
    letter-spacing: .5px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s ease;
    
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
    top:-5px;
}

.input-box i{
    position: absolute;
    right:5px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.forget-section {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin: -15px 0 15px;
}
.forget-section p{
    display: flex;
    align-items: center;
    font-size: 18px;


}
.forget-section p input{
    accent-color:rgb(108, 129, 114);
    margin: 0 3px;
    
}

.forget-section a{
    text-decoration: none;
    font-size: 18px;
}

.btn{
    
    height: 45px;
    width: 100%;
    border-radius: 50px;
    color: white;
    background: rgb(108, 129, 114,.4);
    outline: none;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
    border:10%;
    border-color:rgb(108, 129, 114,.2);
    margin: 10px 0 10px;
}
.account-creation{
    text-align: center;
    justify-content: space-between;
    font-size: 18px;
    margin: 25px 0 10px;
    font-weight: 400;
    margin-left: 5px;

}
.account-creation span a{
    text-decoration: none;

}
.account-creation a:hover{
    text-decoration: underline;

}

.RegisterForm .account-creation span{
    font-size: 15px;
    margin-left: 15px;
}

@media(max-width:768px){
    
}